* {
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    margin-left: 8%;
    margin-right: 8%;
    background-color: rgba(192, 192, 192, 0.1);
}

h1 {
    font-size: 2em;
}

h1#headline {
    font-size: 4em;
    margin-top: 0.15em;
    margin-bottom: 0.15em;
    color: #505355;
    border-bottom: solid 1px black;
}

h2 {
    font-size: 1.8em;
    line-height: 1.45em;
}

h3 {
    font-size: 1em;
    color: #00ADEE;
}

header img {
    height: 25px;
}

.student-gray {
    color: #505355;
}

.italic-text {
    font-style: italic;
}

#student-picture img{
    border-radius: 50%;
}

/*************************
   Grid & Grid Styling
*************************/

/* Grid Areas */
#headline {
    grid-area: main-head;
}

#student-picture {
    grid-area: main-student-pic;
    text-align: center;
}

#student-quote {
    grid-area: main-student-q;
}

#student-profile {
    grid-area: main-student-pf;
}

#student-contact {
    grid-area: main-student-contact;
    text-align: center;
}

#experience-grid {
    grid-area: main-exp-grid;
}

#experience-code {
    grid-area: exp-code;
}

#experience-database {
    grid-area: exp-db;
}

#experience-web {
    grid-area: exp-web;
}

#experience-design {
    grid-area: exp-design;
}

/* Desktop Layout */

#main-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
    row-gap: 20px;
    align-items: center;
    grid-template-areas:
        "main-head main-head main-student-pic"
        "main-student-q main-student-q main-student-pic"
        "main-student-pf main-student-pf main-student-contact"
        "main-exp-grid main-exp-grid main-exp-grid";
}

#experience-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    row-gap: 20px;
    grid-template-areas: 
        "exp-code exp-code"
        "exp-db exp-db"
        "exp-web exp-design";
}

/* Tablet Layout */
@media screen and (max-width: 1024px) {

    #main-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 35px;
        grid-template-areas: 
            "main-head main-head"
            "main-student-q main-student-pic"
            "main-student-q main-student-contact"
            "main-student-pf main-student-pf"
            "main-exp-grid main-exp-grid";
    }

    #experience-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        row-gap: 20px;
        grid-template-areas: 
            "exp-code exp-web"
            "exp-db exp-design";
    }

}


/* Phone Layout */
@media screen and (max-width: 450px) {

    #main-grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 
            "main-head"
            "main-student-pic"
            "main-student-contact"
            "main-student-q"
            "main-student-pf"
            "main-exp-grid";
    }

    #experience-grid {
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 20px;
        grid-template-areas: 
            "exp-code"
            "exp-web"
            "exp-db"
            "exp-design";
    }

}
