<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="script.js" defer></script>
</head>

<body>
    <div>This is not part of Vue</div>
    <div id="myApp">
        This will be part of vue<br />
        {{ message }}

        <div>
            <input type="text" v-model="firstName">
        </div>
        {{ firstName }}

        <h3>Planets</h3>
        <p v-for="planet in planets">
            {{ planet }}
        </p>

        <p> {{ 10 > 5 }}</p>

        <input type="checkbox" v-model="showDescription" />Show Description
        <p v-if="showDescription">This is the description</p>
        <!-- another version is <p v-show="showDescription"> which just adds a display: none -->
    </div>
</body>

</html>